@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

$fallback-font: sans-serif;

@mixin font {
    font-family: 'Outfit', $fallback-font;
    font-size: 18px;
}