.footer {
  background-color: lightgray;
  font-size: 20px;
  font-family: 'Outfit' ;

  border-top: 2px solid #6e6e6e;

  padding: 12px;

  display: flex;

  align-items: center;
  justify-content: space-between;
}