@import "./colors.scss";
@import "./fonts.scss";

.nft-card {
    width: 300px;
    background-color: $card-background-color;
    padding: 20px;
    flex-shrink: 0;
    @include font;

    .title {
        color: $white;
        font-weight: 600;
    }

    .description {
        color: $minor-text-color;
        font-weight: 300;
    }

    .nft-status-bar {
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        margin-bottom: 25px;

        div {
            font-size: 16px;
            color: $active-color;
            display: flex;
            gap: 5px;
            align-items: center;
        }

        .nft-cost {
            color: $active-color;
        }

        .nft-age {
            color: $minor-text-color
        }
    }

    .nft-image {
        img {
            max-width:100%;
            max-height:100%;
        }
    }

    hr {
        border-top: 1px solid $separator-color;
        border-bottom: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}