@import "./colors.scss";

@mixin centerFlexContent {
    justify-content: center;
    align-items: center;
}

.showcase {
    @include centerFlexContent;

    display: flex;
    flex-wrap: wrap;
    gap: 25px;

    flex-grow: 1;
}